body {
    background-color: #eaeaea;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.header {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-left: -20px; 
    margin-right: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
hr {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: #777777;
}
h1 {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: white;
    font-size: 40px;
}
p {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: #777777;
    font-size: 16px;
    line-height: 24px;
}
h2 {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: #777777;
    font-size: 30px;
}
h3 {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: #777777;
    font-size: 25px;
}
h4 {
    font-family: 'Georgia', Times, Times new roman, serif;
    color: #777777;
    font-size: 20px;
}

.nav-set {
    background-color: #ffffff;
    width: 100%;
    height: 100%; 
    margin-left: -20px;
    margin-right: 20px;
    position: relative;
}
.Navdeep {
    top: 20;
    bottom:  -20px;
    margin-left: 150px;
    max-width: 250px;
    height: 50px;
    background-color: teal;
    font-size: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    float: left;
}
.nav {
    margin: center;
    width: 80px;
    right: 20px;
    float: right;
    text-align: center;
    padding: 10px;
}

.nav1 {
    margin-right: 150px;
    border-left: 2px solid chartreuse;
}
.nav2 {
    border-left: 2px solid chartreuse;
}
.container {
    clear: both;
    background-color: #ececec;
    padding-top: 100px;
    width: 100%;
    height: auto;
}
.content {
    background-color: #ffffff;
    border: #ffffff;
    width: 50%;
    padding: 20px;
    margin-bottom: 300px;
    margin-top: 80px;
    margin-left: 130px;
    margin-inline-start: 140px;
    text-align: align-self: auto;
    float: left;
    position: relative;
}
img.displayed {
    padding: 20px;
    margin-right: 10px;
    float: left;
}
figcaption {
    margin-top: -50px;
    background-color: teal;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
}
.Box {
    float: left;
    margin-left: 70px;
    position: relative;
    margin-bottom: 40px;
}
.input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;
}
.input1 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    height: 100px;
    width: 95%;
}
h5 {
    color: #ffffff;
}
.submit {
    background-color: teal;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}
a {
    align-items: center;
}
.sidebar {
    background-color: #ffffff;
    border: #ffffff;
    width: auto;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 50px;
    float: left;
}
.footer {
    width: 100%;
    height: 50px;
    padding: 20px;
    bottom: -20px;
    text-align: center;
    background-color: #666666;
    position: fixed;
    left: 0;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
@media screen 
and (max-width:980px) {
    .Navdeep {
        margin-left: 20px;
    }
    .nav-set {
        width: auto;
    }
    .nav1 {
        margin-right: 0px;
    }
    .content{
        width: 50%;
        margin-left: 20px;
    }
    aside {
        background-color: #ffffff;
        border: #ffffff;
        width: 20%;
        padding: 20px;
        margin-top: 80px;
        margin-left: 20px;
        float: left;
    }
    img.displayed {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen  
and (max-width: 768px)  {
    .content {
        width: 100%;
        clear: both;
        align-content: center;
    }
    img.displayed {
        float: left;
    }
    .sidebar {
        width: 100%;
        margin-bottom: 180px;
       
    }
}
@media screen 
and (max-width: 640px)  {
    .Navdeep {
        width: 100%;
        max-width: none;
        margin: auto;
    }
    .nav {
        align-self: auto;
        margin-right: 100px;
    }
    .nav1 {
        margin-right: 0px;
        width: 30% auto;
        align-self: auto;
        border: none;
    }
    .nav2 {
        width: 30% auto;
        align-self: auto;
        border: none;
    }
    .nav3 {
        width: 30% auto;
        align-self: auto;
        border: none;
    }
    .content {
        width: 80%;
        margin-bottom: 50px;
        margin-top: 120px;
        margin-left: 50px;
    }
    .sidebar {
        width: 80%;
        margin-bottom: 180px;
        margin-left: 50px;
        margin-right: 50px;
    }
   
}
